@charset "utf-8";
/* CSS Document */

html, body  {
	margin:0;
	padding:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	}

div#container{
	position:relative;
	left:0;
	top:0;
	height:100%;
	width:100%;
}

div#header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:3em;
	background: #cc0001;
	margin:0;
	padding:0;
	z-index: 999;
}

div#header img {height:100%; cursor:pointer; margin-left:.5em;}

div#mapCanvas{
	position:relative;
	top:3em;
	left:0;
	width:100%;
	height:100%;
	margin:0;
	padding:0; 
	overflow:hidden;}

div#leftPanel h1{
	font-size:2em;
	color:#fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-decoration:none;
	padding:1em;
}

div#leftPanel p, .lista {
	width:90%;
	padding:1em;
	margin:auto;
	text-align:justify;
	line-height:normal;
	font-size:1em;
	color:#fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:normal;
	text-decoration:none;
}


div#leftPanel{
	height:100%;
	background:#333;
	width:100%;
	float:left;
	position:absolute;
	top:0;
	left:0;
	display:none;
	overflow-y:scroll;
}

div#leftPanel ul#mobileMenu{
	list-style:none; 

}

div#leftPanel ul#mobileMenu a {
	color: #fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:2em;
	font-weight:normal;
	cursor:pointer;
	font-weight:bold;
	text-decoration:none;
}

div#leftPanel input[type=textbox], input[type=textbox]:focus, input[type=textbox]:enabled {
	margin:.5em;
	padding:0;
	border:none;
	background:none;
	outline:0;
	color: #fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:1.2em;
	text-transform:lowercase;
	font-weight:normal;
	cursor:pointer;
	width:70%;
}

div#leftPanel img{
	height:100%; 
	margin:0;
	cursor: pointer;
	float:left;}

div#headerMenu{
	top:0;
	left:0;
	width:100%;
	height:3em;
	background: #ccc;
	margin:0;
	padding:0;
	z-index: 999;
}

/* INFO PANEL TESTI */
div#iseeText {display:none;}

div#istrText {display:none;} 

div#chiText {display:none;}
div#chiText p a.contatti{color:#fff; font-size:1em !important; text-decoration:underline !important; text-transform:uppercase;}

div#tasseText {display:none;}

/* INFO WINDOWS */

.gm-style-iw h2{margin:0}
.gm-style-iw {
left:0 !important;
top:0 !important;
width:100%  !important;
padding:1em;
overflow:hidden;
}



/* SCROLL BARS */

::-webkit-scrollbar {
		width: .5em;

}
	
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
		display: none;
		height: 1em;
}
		
::-webkit-scrollbar-track-piece {
		background-color: #333;
		width:.2em;
		margin-right:20px;
}
	
::-webkit-scrollbar-thumb:vertical {
		height: 20px;
		background-color: #ccc;
		width:.5em;
}
	
::-webkit-scrollbar-thumb:horizontal {
		width: 50px; 		
		background-color: #39F;
		-webkit-border-radius: 3px;
}

