@charset "utf-8";
/* CSS Document */

html, body  {
	margin:0;
	padding:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;	}

div#container{
	position:relative;
	left:0;
	top:0;
	height:100%;
	width:100%;
}

div#header {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:4.27%;
	background: #cc0001;
	margin:0;
	padding:0;
	z-index: 999;
}

div#header ul#desktop {
	margin:0;
	padding:0;
	list-style: none;
}

div#header ul#desktop li {
	float:left;
	display:inline-block;
	line-height:12px;
	font-size:medium;
	padding: 14px;
	color:#fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-decoration:none;

}

div#header ul#desktop li a{
	color:#fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-decoration:none;
}

div#header ul#desktop li a:active{
	color:#fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}

div#header ul#desktop li a:hover{
	color:#000;}
	
div#header ul#desktop li.img {
	padding:0;
}

div#header ul#desktop li.img img{
	height:40px; 
	margin:0;
	cursor: pointer;}

div#header ul#desktop li.input {
	padding:1px;
}
div#header ul#desktop li.input input[type=textbox],input[type=textbox]:focus{
	margin:9px;
	padding:0;
	border:none;
	background:none;
	outline:0;
	color: #fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:medium;
	text-transform:lowercase;
	font-weight:normal;
	cursor:pointer;
	}

a#mobile{
	line-height:40px;
	padding:5px;
	margin:0;
}

a#mobile img {
	height:40px;}

@media (orientation:landscape){
	a#mobile{display:none;}
}

@media (orientation:portrait){
	ul#desktop{display:none;}}
	
div#leftPanel{
	height:100%;
	background:#333;
	width:70%;
	float:left;
	position:absolute;
	top:0;
	left:0;
	display:none;
}

div#leftPanel ul#mobileMenu{
	list-style:none; 

}

div#leftPanel ul#mobileMenu li a, a:visited {
	display:block;
	width:100%;
	height:40px;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

div#leftPanel ul#mobileMenu li a:active {
	display:block;
	width:100%;
	height:40px;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-transfor:uppercase;
}

div#leftPanel ul#mobileMenu li {
	display:block;
	width:100%;
	height:40px;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

div#leftPanel ul#mobileMenu li a{
	display:block;
	width:100%;
	height:40px;
	color:#fff;
}

div#leftPanel ul#mobileMenu li.img {
	padding:0;
	width:40px;}

div#leftPanel ul#mobileMenu li.input {
	padding:0;
	margin-bottom:20px;
}
div#leftPanel ul#mobileMenu li.input input[type=textbox],input[type=textbox]:focus, input[type=textbox]:enabled {
	margin:9px;
	padding:0;
	border:none;
	background:none;
	outline:0;
	color: #fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:medium;
	text-transform:lowercase;
	font-weight:normal;
	cursor:pointer;
    
	}
div#leftPanel ul#mobileMenu li.img img{
	height:40px; 
	margin:0;
	cursor: pointer;
	float:left;}

div#mapCanvas{
	position:relative;
	top:40px;
	left:0;
	width:100%;
	height:100%;
	margin:0;
	padding:0; 
	overflow:hidden;}
	
::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:medium;
	text-transform:uppercase;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #fff;
	opacity:  1;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:medium;
	text-transform:uppercase;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #fff;
	opacity:  1;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:medium;
	text-transform:uppercase;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:medium;
	text-transform:uppercase;
}

#directions-panel{
	height:0; 
	width:100%; 
	overflow:auto; 
	display:none; 
	z-index:999; 
	margin:0; 
	border: solid 1px #999;
	position:relative;
	top:40px; 
}

#directions-panel a,a:visited,a:active{
	text-decoration:underline;
	text-align:left;
	width:100%;
	display:block;
	/*color:#129d2d*/
}

#panel-content{
	padding: 1em; 
	font-family:"Gill Sans","Gill Sans MT","Myriad Pro","DejaVu Sans Condensed",Helvetica,Arial,sans-serif;
}

div#infoPanel h1{
	float:left;
	display:inline-block;
	line-height:12px;
	font-size:large;
	padding: 14px;
	color:#fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-decoration:none;

}


div#infoPanel p{
	text-align:justify;
	float:left;
	display:inline-block;
	line-height:normal;
	font-size:medium;
	padding: 20px;
	color:#fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-decoration:none;
}


div#infoPanel{
	height:100%;
	background:#333;
	width:30%;
	float:left;
	position:absolute;
	top:0;
	left:0;
	display:none;
}
/*div.box {overflow-y: scroll; height: 50%;}*/

div#iseeText {display:none;}

div#istrText {display:none;} 

div#chiText {display:none;}

div#tasseText {display:none;}

div#infoPanel img {height:30px; float:right; position: absolute; top:5px; right:10px; cursor:pointer;}

div#leftPanel h1{display:none;}

div#leftPanel p{
	text-align:justify;
	float:left;
	display:inline-block;
	line-height:normal;
	font-size:medium;
	padding: 20px;
	color:#fff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-decoration:none;
}

