@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,100,700italic,300,700,300italic,400);





html,body,#map-canvas{height:100%;margin:0;padding:0; overflow:hidden;}




#panel{position:absolute;top:4.5em;left:50%;margin-left:-100px;z-index:5;background-color:#fff;padding:5px;border:1px solid #999;}





#directions-panel{height:0; width:100%; overflow:auto; display:none; z-index:999; margin:0; border: solid 1px #999; }
#directions-panel a,a:visited,a:active{font-size:.9em;text-decoration:underline;text-transform:lowercase;text-align:left;width:100%;display:block;color:#129d2d}
#panel-content{padding: 1em; font-family:"Gill Sans","Gill Sans MT","Myriad Pro","DejaVu Sans Condensed",Helvetica,Arial,sans-serif;}



#responsive-menu-button a img {float:right; position: absolute; top:25px; right:25px; width:40px; }


#mobile-header {
margin: 0px;
background-color: #cc0001;
    
color:#cc0001;
display: none;
}
@media only screen and (max-width: 767px){
#mobile-header {
    display: block;
}
}


#screen-header {
    margin: 0px;
background-color: #cc0001;
display: none;
}
@media only screen and (min-width: 767px){
#screen-header {
    display: block;
}
}


#screen-header li { 
margin-right: 20px;
background-color: #cc0001;
display: inline;
line-height: 40px;
font-family:"Gill Sans","Gill Sans MT","Myriad Pro","DejaVu Sans Condensed",Helvetica,Arial,sans-serif;}

li a {
color: #FFFFFF;
text-decoration: none;
text-shadow: 2px 1px 1px black;
font-weight: bold;
padding-left: 4px;
padding-right: 4px;
}

li a:hover{
text-decoration: underline;
color: rgb(255, 223, 0);
}

ul{
margin:0px;
}
.gm-style-iw h2{margin:0}
.gm-style-iw {
left:0 !important;
top:0 !important;
width:100%  !important;
padding:1em;
}







/*
@media print {
#directions-panel{float:none;width:500px}
#map-canvas{height:500px;margin:0}
}*
