@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,100,700italic,300,700,300italic,400);





html,body,#map-canvas{height:100%;margin:0;padding:0; overflow:hidden;}
#panel{position:absolute;top:1.5em;left:50%;margin-left:-100px;z-index:5;background-color:#fff;padding:5px;border:1px solid #999}
#directions-panel{height:0; width:100%; overflow:auto; display:none; z-index:999; margin:0; border: solid 1px #999;}
#directions-panel a,a:visited,a:active{font-size:.9em;text-decoration:underline;text-transform:lowercase;text-align:left;width:100%;display:block;color:#94B6F9}
#panel-content{padding: 1em; font-family:"Gill Sans","Gill Sans MT","Myriad Pro","DejaVu Sans Condensed",Helvetica,Arial,sans-serif;}
#menu-icon {
  float: right;
  width: 36px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}





.gm-style-iw h2{margin:0}
.gm-style-iw {
left:0 !important;
top:0 !important;
width:100%  !important;
padding:1em;
}

/*
@media print {
#directions-panel{float:none;width:500px}
#map-canvas{height:500px;margin:0}
}